{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/plugin-syntax-import-assertions",
    "@babel/plugin-proposal-throw-expressions"
  ],
  "sourceType": "module",
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
