html {
    font-size: 100%;
    font-family: 'Questrial', sans-serif;
}

body {
    margin: 5rem 5rem;
    background: #2B4570;
}

h1, p, a {
    color: #C3B59F;
}

p, a {
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}

ul {
    list-style: none;
  }


/* Extra small devices */
@media only screen and (max-width: 600px) {
    p, a {
        font-size: 0.5rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}
/* Small devices */
@media only screen and (min-width: 600px) {
    p, a {
        font-size: 0.8rem;
    }
    
    h1 {
        font-size: 2rem;
    }
}
/* Large devices */
@media only screen and (min-width: 992px) {
    p, a {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 3rem;
    }
}
