html {
  font-size: 100%;
  font-family: 'Questrial', sans-serif;
}

body {
  background: #2b4570;
}
h1 {
  text-align: center;
}

h1,
p,
a {
  color: #c3b59f;
}

p,
a {
  font-size: 1.2rem;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  p,
  a {
    font-size: 1rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.5rem;
  }
  body {
    background: #2b4570;
  }
}
/* Small devices */
@media only screen and (max-width: 600px) {
  p,
  a {
    font-size: 1rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  body {
    background: #2b4570;
  }
}
